<div class="outer">
    <div class="conteiner-login">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">

                <div class="panel border bg-white parent-login">
                    <div class="panel-heading">
                        <h1 class="pt-3 font-weight-bold">¡Bienvenido!</h1>
                    </div>
                    <div class="panel-body p-3 login">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="loginForm.controls['correo'].dirty && loginForm.hasError('required','correo')">
                                    <span class="fa fa-user p-2"></span> 
                                    <input formControlName="correo" type="text" placeholder="correo" required>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['correo'].dirty && loginForm.hasError('required','correo')"
                                class="text-danger">
                                *correo is required*
                            </small>
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-lock px-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="contraseña">
                                </div>
                            </div>
                            <small
                                *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                                 class="text-danger">
                                *Contraseña requerida*
                            </small>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Ingresar</button>
                            <div class="text-center pt-4 text-muted">
                                ¿No te has registrado? <a id="forgot" href="#" routerLink="/signup">Registrate</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>