<div class="parent-body-admin">
    <div class="admin-selection">
        <h2>Hola Nombre</h2>
        <p>¿Qué quieres hacer hoy?</p>
        <button (click)="openCreateStore()">Crear tienda</button>
        <button (click)="openModalCreateProduct()">Crear Articulo</button>
        <button (click)="openModal()">Abastecer tienda</button>
    </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showModalCreateStore">
    <div class="modal-content">
        <h1>Crear Tienda</h1>
        <form #storeForm="ngForm" (ngSubmit)="saveStore(storeForm)">
            <input placeholder="Sucursal" name="sucursal" [(ngModel)]="dataStore.sucursal" required />
            <input placeholder="Dirección" name="direccion" [(ngModel)]="dataStore.direccion" required />
            <input placeholder="Imagen" name="imagen" [(ngModel)]="dataStore.imagen" required />
              <div>
                <button type="submit">Enviar</button>
                <button type="button" (click)="closeModal()">Volver</button>
            </div>
        </form>
    </div>
</div>
<div class="modal" *ngIf="showModalCreateProduct">
    <div class="modal-content">
        <h1>Crear Producto</h1>
        <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
            <input name="codigo" placeholder="Código" [(ngModel)]="dataProduct.codigo" required />
            <input name="descripcion" placeholder="Descripción" [(ngModel)]="dataProduct.descripcion" required />
            <input name="precio" placeholder="Precio" [(ngModel)]="dataProduct.precio" required />
            <input name="stock" placeholder="Stock" [(ngModel)]="dataProduct.stock" required />
              <div>
                <button type="submit">Enviar</button>
                <button type="button" (click)="closeModal()">Volver</button>
            </div>
        </form>
    </div>
</div>
<div class="modal" *ngIf="showModalFillOut">
    <div class="modal-content">
        <h1>Abastecer</h1>
        <form #fullOutForm="ngForm" (ngSubmit)="saveFullOut(fullOutForm)">
            <input name="idTienda" placeholder="id Tienda" [(ngModel)]="dataFullOut.idTienda" required />
            <input name="idArticulo" placeholder="id Articulo" [(ngModel)]="dataFullOut.idArticulo" required />
            <input name="stock" placeholder="stock" [(ngModel)]="dataFullOut.stock" required />
            <div>
                <button type="submit">Enviar</button>
                <button type="button" (click)="closeModal()">Volver</button>
            </div>
        </form>
    </div>
</div>