
  <form (ngSubmit)="saveDataRegister()">
    <h2>Registro</h2>
    <input placeholder="Nombre" name="nombre" [(ngModel)]="dataRegister.nombre" />
    <input placeholder="Apellido" name="apellido" [(ngModel)]="dataRegister.apellido" />
    <input placeholder="Dirección" name="direccion" [(ngModel)]="dataRegister.direccion" />
    <input type="email" placeholder="Correo" name="correo" [(ngModel)]="dataRegister.correo" />
    <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="dataRegister.password" />
    <button type="submit">Registrarse</button>
  </form>
  