<div class="parent-body-login" role="">
  <div class="parent-card-login">
    <figure class="figure-login">
      <img src="../../assets/images/piña.jpg"
        alt="Elephant at sunset">
    </figure>
    <section class="login-section">
      <h2>Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <input type="text" name="correo" placeholder="Correo" [(ngModel)]="formData.correo" required />
        <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="formData.password" required />
        <button type="submit">Ingresar</button>
      </form>
      <span>¿No tienes Cuenta? <a href="/register">Registrate</a></span>
    </section>
  </div>
</div>
